
  /* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}

  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }

  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }

  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;}
  }

  .navbar-brand {
      padding: 5px 10px 10px 10px;
  }

  .form-signin {
      margin-left: auto;
      margin-right: auto;
      max-width: 300px;
  }

  .validatorlogo {
    width:88px;
    height:31px;
    float: right;
  }

  .form-horizontal {
      margin-left: auto;
      margin-right: auto;
  }

  .inputform {
      margin-left: auto;
      margin-right: auto;
      max-width: 300px;
  }

  .controls {
      margin-left: auto;
      margin-right: auto;
      max-width: 200px;
  }

/* Product form */

.Product_Button
{
    padding:20px;
    border:1px solid #fff;
}
.margin50{
    margin-top:50px
}
.productbtn:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    margin-left: 15px;
  }
  /* Icon when the collapsible content is hidden */
  .productbtn.collapsed:after {
    content: "\e080";
  }
  .width450
  {
      width:450px
  }
  .margin50 {
    margin-top:50px;
}
input[type=radio], input[type=checkbox]
{
    margin:4px !important;
}
.dimentions-width, .dimentions-height {
    width:90%;
    display:initial;
}

.product_content {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

/* */

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.btn-suspend {
    border:1px solid #000;
    padding:5px;
    background-color:green;
    text-decoration: none;
    color: black;
}

.btn-unsuspend {
    border:1px solid #000;
    padding:5px;
    background-color:red;
    text-decoration: none;
    color: black;
}
