.no-margin {
  margin:0px;
}

.no-padding {
  padding:0px;
}

.navbar-brand {
    padding: 5px 10px 10px 10px;
}

#header {
  margin:auto;
  background-color: #AA3939;

}

#header a {
    color: #ffffff;
    font-size: 18px;
    font-family: "Verdana";
}

#separator {
    background-color: #5f5f5f;
    height: 5px;
}

.icon-bar {
    background-color: #ffffff;
}
