<!DOCTYPE html>
<html>
    <head>
      <title>Projekt</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <link href="style.css" rel="stylesheet" type="text/css">
      <script src="script.js"></script>
    </head>

    <body  onload="startTime()">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="images/logo.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <div class="container-fluid">
                  <ul class="nav navbar-nav">
                    <li id="home" class="active"><a href="?mode=index">Home</a></li>
                    <?php
                    if (isset($_SESSION['username'])) {
                      ?>
                    <li id="buy"><a href="?mode=buy">Trade</a></li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">My stuff
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="?mode=myproducts">My items</a></li>
                        <li><a href="?mode=addproduct">New item</a></li>
                        <li class="divider"></li>
                        <li><a href="?mode=traderequests">Trade requests</a></li>
                        <li class="divider"></li>
                        <li><a href="?mode=notifications">Notifications</a></li>
                      </ul>
                    </li>
                    <?php
                  }?>
                    <li id="about"><a href="?mode=about">About</a></li>
                    <?php
                    if (isset($_SESSION['username'])) {
                      $admin = get_user_info()['type'];
                      if ($admin == 'admin'){?>
                          <li id="users"><a href="?mode=users">Users</a></li>
                          <li id="allitems"><a href="?mode=allitems">Items</a></li>
                      <?php }
                    }?>


                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      <?php
                        if (!isset($_SESSION['username'])){
                            echo '<li><a href="?mode=login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>';
                        } else {
                            echo '<li><a href="?mode=logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>';
                        }?>
                  </ul>
              </div>
            </div>
          </div>
        </nav>
        <div class="container-fluid text-center">
