
          <div class="row content">
            <div class="col-sm-2 sidenav">

            </div>
            <div class="col-sm-8 text-left">
              <h1>Welcome</h1>
              <p>This webpage will allow monitoring RasberryPi sensors</p>
              <hr>
              <h3>TO-DO:</h3>
              <ol>
                  <li>Kasutajanimi kuvada footeril + kasutaja tüüp</li>
                  <li>Pi'st andmed andmebaasi</li>
                  <li>Active leht muuta</li>
              </ol>
            </div>
            <div class="col-sm-2 sidenav">

            </div>
          </div>
