<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Võrgurakenduste 1. praktikum</title>
    <link rel="stylesheet" type="text/css" href="stiil.css">
    <script src="script.js"></script>
  </head>
  <body onload="test()">
    <div id="container">
      <div class="header">
      </div>
      <div id="menu">
        <ul>
          <li ><a href="Praktikum4.html">PEALEHT</a></li>
          <li class="active"><a href="Praktikum4_2.html">GALERII</a></li>
          <li style="float:right"><a href="Praktikum4_4.html">LOGI SISSE</a></li>
          <li style="float:right"><a href="Praktikum4_5.html">REGISTREERI</a></li>
        </ul>
      </div>
      <div class="header">
      </div>

      <div class ="content">
