
	    <div id="upload">
	      <form action="Praktikum2_6.html" method="post">
	        <table>
	          <tr>
	            <th>Autor</th>
	            <th><input name="autor" type="text"</input></th>
	          </tr>
						<tr>
	            <th>Pealkiri</th>
	            <th><input name="pealkiri" type="text"</input></th>
	          </tr>
						<tr>
							<th>Suur pilt</th>
							<th>
								<input type="file" name="pic" accept="image/*">
					  		<input type="submit">
							</th>
	          </tr>
						<tr>
							<th>Väike pilt</th>
							<th>
								<input type="file" name="pic" accept="image/*">
								<input type="submit">
							</th>
						</tr>
						<tr>
	            <th colspan="2"><input type="submit" value="Lae üles"></th>
	          </tr>
	        </table>
	      </form>
	    </div>
