
    		<div id="login">
		      <form action="Praktikum2_4.html" method="post">
		        <table>
		          <tr>
		            <th>Kasutajanimi</th>
		            <th><input name="kasutajanimi" type="text"</input></th>
		          </tr>
		          <tr>
		            <th>Parool</th>
		            <th><input name="parool" type="password"</input></th>
		          </tr>
		          <tr>
		            <th colspan="2"><input type="submit" value="Sumbit"></th>
		          </tr>
		        </table>
		      </form>
    		</div>
