.header {
  background:#2C4870;
  height:10px;
  margin-bottom: 5px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    overflow: hidden;
}

#menu li {
    width: 150px;
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    background-color: #DCE0E5;
    margin: 0 5px 0 5px;
    float: left;
    border-right: 1px solid #2C4870;
    border-left: 1px solid #2C4870;
}

#menu li a {
    color: #071F40;
    text-decoration: none;
    display: block;
    padding: 8px;
}

#menu a:hover {
    color: #DCE0E5;
    background-color: #2C4870
    }

#menu .active a {
    color: #DCE0E5;
    background-color: #2C4870
}
body {
  background-image: url("bg.png");
}

#container {
  background:#ffffff;
  border: 1px solid #071F40;
  min-width: 600px;
  max-width: 1000px;
  margin:auto;
}

#pealkiri1{
  color: #113951;
  text-align: center;
  font-family: calibri;
}

.content {
  background-color: #ffffff;
  text-align: justify;
}

 .content img{
   max-width: 600px;
}

#container .viide {
  color: #437313;
  text-transform:uppercase;
  font-weight:bold;
}

#container .viide:hover {
  color:#273737;
  text-decoration: underline;
}

#container .div-keskel {
  text-align: center;
  display: table;
  margin:0 auto;
}
#container .div-keskel .inlinediv div {
  display:block;
  float:left
}

img:not(.validators){
  border-style: solid;
}

#footer {
  position: relative;
  min-width: 600px;
  max-width: 1000px;
  background:#2C4870;
  height: 31px;
  padding: 5px 0;
  width:100%;
  margin:auto;
  border: 1px solid #071F40;
}

#footer .validatorlogo {
  width:88px;
  height:31px;
  float:right;
}
