.header {
  background:#2C4870;
  height:10px;
  margin-bottom: 5px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    overflow: hidden;
}

#menu li {
    width: 150px;
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    background-color: #DCE0E5;
    margin: 0 5px 0 5px;
    float: left;
    border-right: 1px solid #2C4870;
    border-left: 1px solid #2C4870;
}

#menu li a {
    color: #071F40;
    text-decoration: none;
    display: block;
    padding: 8px;
}

#menu a:hover {
    color: #DCE0E5;
    background-color: #2C4870
    }

#menu .active a {
    color: #DCE0E5;
    background-color: #2C4870
}
body {
  background-image: url("bg.png");
}

#container {
  background:#ffffff;
  border: 1px solid #071F40;
  min-width: 800px;
  max-width: 1000px;
  margin:auto;
}

#pealkiri1{
  color: #113951;
  text-align: center;
  font-family: calibri;
}

.content {
  background-color: #ffffff;
  text-align: justify;
  padding: 10px;
}

 .content img{
   max-width: 90%;
}

.content table  {
  margin: 0 auto;
}

.content a{
  text-decoration: none;
}

#container .viide {
  color: #437313;
  text-transform:uppercase;
  font-weight:bold;
}

#container .viide:hover {
  color:#273737;
  text-decoration: underline;
}

#container .div-keskel {
  text-align: center;
  display: table;
  margin:0 auto;
}
#container .div-keskel .inlinediv div {
  display:block;
  float:left
}

img:not(.validators){
  border: 1px solid #071F40;
}

#footer {
  position: relative;
  min-width: 800px;
  max-width: 1000px;
  background:#2C4870;
  height: 31px;
  padding: 5px 0;
  width:100%;
  margin:auto;
  border: 1px solid #071F40;
}

#footer .validatorlogo {
  width:88px;
  height:31px;
  float:right;
}

#taust{ /* taust, mis peidab lehe sisu */
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.7);
	z-index:5;
}
#tabel{ /* toob suure pildi esile ja määrab kuvamise ala tabelina */
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin:0 auto;
	z-index: 10;
	display:table;
  	width:100%;
  	height:100%;
  	color:white;
}
#cell{ /* paigutab pildi ja teksti vertikaalselt keskele nagu tabelivälja */
	display:table-cell;
  	vertical-align:middle;
}
#sisu { /* teeb pildi ümbruse kitsamaks ja annab tausta */
	display: table;
	margin: auto;
	background: rgba(0,0,0,0.7);
    padding: 10px 40px;
    position:relative;
}
#sulge { /* sulgemise element */
	position: fixed;
	top: 0;
	right: 0;
	z-index: 15;
	padding:4px;
	font-weight: bold;
}
#hoidja {  /* ümbritseb kogu suure pildi elementide hulka 0px kõrgusena, et teised elemendid taga oleks kasutatavad*/
	height: 0px;
}
#prev, #next {
	display:block;
	position: absolute;
	top:0px;
	bottom:0px;
	width: 40px;
}
#prev:hover, #next:hover{
	background-color: rgba(255,255,255,0.1);
}
#prev {
	left:0px;
	background: url("Pictures/prev.png") center no-repeat;
}
#next {
	right:0px;
	background: url("Pictures/next.png") center no-repeat;
}
