.bead {
    width: 50px;
    height: 50px;
    background-color: brown;
    border-radius: 50%;
    box-shadow: 0px -11px 23px -3px black inset;
    float: left;
    margin-top:-25px;
    text-align: center;
}

.row {
    clear:both;
    border: 1px solid black;
    margin-top:50px;
}

#frame {
    width: 1000px;
    border: 10px outset brown;
    background-color: beige;
    padding-bottom: 50px;
}

.right {
    float:right;
}
