#content {
    position: fixed;
    left: 400px;
    top: 600px;
    width: 100px;
    height: 100px;
}

#duck {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

body {
    background-color: #0A24A9;
}

.sisu {
    border-radius: 50%;
    position: absolute;
}

.sisu:nth-child(1){
    height: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    left: 0%;
    top: 0%;
}
.sisu:nth-child(2){
    height: 90%;
    width: 90%;
    background-color: red;
    border: 1px solid black;
    left: 5%;
    top: 5%;
}
.sisu:nth-child(3){
    height: 80%;
    width: 80%;
    background-color: white;
    border: 1px solid black;
    left: 10%;
    top: 10%;
}
.sisu:nth-child(4){
    height: 60%;
    width: 60%;
    background-color: red;
    border: 1px solid black;
    left: 20%;
    top: 20%;
}
.sisu:nth-child(5){
    height: 40%;
    width: 40%;
    background-color: white;
    border: 1px solid black;
    left: 30%;
    top: 30%;
}
.sisu:nth-child(6){
    height: 20%;
    width: 20%;
    background-color: red;
    border: 1px solid black;
    left: 40%;
    top: 40%;
}
