body {
  background:#AA5439;
  color: #113951;
}

#container .pealkiri {
  text-align: center;
  font-family: calibri;
}

#container a {
  text-decoration: none;
}

#container .viide {
  color: #437313;
  text-transform:uppercase;
  font-weight:bold;
  font-family: calibri;
}

#container .viide:hover {
  color:#273737;
  text-decoration: underline;
}

#container {
	background:#D4836A;
  width: 500px;
  border: 1px solid #032336;
  margin: 0 auto;
}

#container .div-keskel {
  text-align: center;
  display: table;
  margin:0 auto;
}
#container .div-keskel .inlinediv div {
  display:block;
  float:left
}
